/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: url(./hogwarts.png) no-repeat center center fixed;
}

.house-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-family: 'Harry P';
  animation: shake 1.2s cubic-bezier(.6, 9.97, 3.19, .97) infinite;
  color:#f0c75e;
  -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}

.house-names p:nth-child(2) {
  animation: shake 70.9s cubic-bezier(.76, 9.97, .19, 4.97) infinite;
  color:#222f5b;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * FONTS
 */

@font-face {
  font-family: 'Silkscreen Web';
  src: url('../../public/fonts/slkscr-webfont.eot');
  src: url('../../public/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/slkscr-webfont.woff') format('woff'), url('../../public/fonts/slkscr-webfont.ttf') format('truetype'), url('../../public/fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Harry P';
  src: url('../../public/fonts/HARRYP__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/**
 * GAME
 */

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Silkscreen Web', monotype;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#game-wrapper {
  animation: shake 45.2s cubic-bezier(.76, 9.97, .19, 4.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100px;
  font-family: 'Harry P';
  font-size: 4rem;
  color:#740001;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.game-wrapper span {
  color: #eeba30;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}